name: Readme File Builder

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dorny/paths-filter@v2
        id: changes
        with:
          filters: |
            src:
              - 'pd_project.ipynb'
              - 'processReadMe.py'

      - name: build README.md
        if: steps.changes.outputs.src == 'true'
        uses: ./.github/actions/readme-build