name: Readme File Builder

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4.2.0
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Build README.md
        run: |
          jupyter nbconvert --to Markdown pd_project.ipynb
          python processReadMe.py
      - name: Commit & Push changes
        run: |
          git config --global user.name "xImouto"
          git config --global user.email "mohammad.rafid.hamid@g.bracu.ac.bd"
          git add README.md
          git commit -m "built readme"
          git push origin main
